body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.tblcell-header {
    font-weight: bold;
}

.tblcell-text {
    display:block;
}

.tblcell-footer {
    font-size: 85%;
    color: darkgray;
    display: block;
}
.tblcell-footer-noblk {
    font-size: 85%;
    color: darkgray;
}

.table > tbody > tr > .center-block,
.table > thead > tr > .center-block {  
  vertical-align: middle;
  text-align: center;
}

.lowest-cost-label {
    display:block;
    font-size: 13px;
}

.blk {
    display:block;
}
.row-ptr {
    cursor: pointer;
}